<div class="container-fluid">
    <div class="container px-5  ">
        <div class="row align-items-center justify-content-around">
           <section class="col-12 col-lg-6 d-none d-lg-block">
            <img src="../assets/img/trackorder.PNG">
           </section>
           <section class="col-12 col-lg-4 text-lg-start">
             <h3>Track Your Order</h3>           
             <p>To track your order please enter your Order ID in the box below and press the "Track" button.</p>
           <form method="" action="">
             <label for="exampleFormControlInput1" class="form-label mb-1">Order ID</label>
             <input type="text" class="form-control mb-2 py-2 px-3" id="exampleFormControlInput1"/>
             <label for="exampleFormControlInput1" class="form-label mb-1">Email</label>
             <input type="email" class="form-control py-2 px-3" id="exampleFormControlInput1"/>
             <button type="submit" class="btn btn-yellow mt-3 py-2 px-4 mb-3">Track</button>
           </form>
        </section>  
        </div>
    </div>  
    </div>
  