<div class="container-fluid">
<div class="container px-5  ">
	<div class="row align-items-center">
	   <section class="col-12 col-lg-6 d-none d-lg-block">
		<img src="../assets/img/notfound.png" >
	   </section>

	   <section class="col-12 col-lg-6 text-lg-start">
     	<h1>40<span>4</span></h1>
	   <h2>Oops! It Looks Like you're Lost.</h2>
	   <p>The page you're looking for isn't available. Try to Search agin or use the go to.</p>
	   <div >
         <button type="submit" class="btn btn-yellow py-2 px-4 mb-3">Go Back To Homepage</button>
       </div>
	</section>	
	</div>
	
</div>	
</div>
