    <!--header-->
    <nav class="navbar mynav navbar-expand-lg">
        <div class="container bord px-5 py-1">
          <a class="navbar-brand title" href="#">Zeomart<span style="color: var(--secondarycolor);">.</span></a>
          <button class="navbar-toggler ms-auto mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

           <!--search-->
           <form class="ms-5 d-flex w-100" role="search">
            <div class="input-group row">
               <select class="form-select form-select1 ps-3 pe-0 col-2" style="width: 9rem;" aria-label="Default select example">
                   <option selected>All Categories</option>
                   <option value="1">Clothing</option>
                   <option value="2">Beauty</option>
                   <option value="3">Health</option>
                 </select>
               <input class="form-control form-control1 col-8 " style="color: #4D3C9C;"  type="search" placeholder="Search products..." aria-label="Search">
               <button class="btn col-2 col-md-1" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
           </form>
           <!--end of search-->

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-2 mb-2 mb-lg-0 text-light">
              <li class="nav-item me-3 d-flex align-items-center">
                <a href="#" class="text-light me-1"><i class="fa-regular fa-heart rounded "></i></a>
                <div class="d-flex flex-column">
                    <a class="nav-link active text-light pb-0 fs-6" aria-current="page" href="#">Whislist</a>
                    <a class="nav-link active text-light pt-0 fs-7" style="width: 5rem;" aria-current="page" href="#">My Items</a>
                </div>
              </li>
              <li class="nav-item me-3 d-flex align-items-center">
                <a href="#" class="text-light me-1"><i class="fa-regular fa-user rounded"></i></a>
                <div class="d-flex flex-column">
                    <a class="nav-link active text-light pb-0 fs-6" aria-current="page" href="#">Signin</a>
                    <a class="nav-link active text-light pt-0 fs-7" aria-current="page" href="#">Account</a>
                </div>
              </li>
              <li class="nav-item me-3 d-flex align-items-center">
                <button type="button" class="position-relative me-1 rounded me-2" style="border: none; background-color:#4D3C9C;">
                    <a href="#" class="text-light me-1"><i class="fa-solid fa-cart-shopping"></i></a>
                    <span class="position-absolute top-0 start-90 translate-middle badge rounded-circle bg-yellow text-dark">
                      2
                      <span class="visually-hidden">unread messages</span>
                    </span>
                  </button>
                <div class="d-flex flex-column">
                    <a class="nav-link active text-light pb-0 fs-6" aria-current="page" href="#">$200.99</a>
                    <a class="nav-link active text-light pt-0 fs-7" aria-current="page" href="#">Total</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--end of header-->

      <!--navbar-->
    <nav class="navbar mynav navie navbar-expand-lg bg-light">
      <div class="container px-5 py-0">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item me-3">
              <a class="nav-item pe-3" style="text-decoration: none; color:white;" href="#"
                ><i class="fa-solid fa-bars-staggered"></i>Browsr Categories</a
              ><span style="color: white;" class="d-sm-none"> | </span>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="text-decoration: none; color:white;"
              >
                Home
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle myactive"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="text-decoration: none; color:white;"
              >
                Shop
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown" >
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="text-decoration: none; color:white;"
              >
                Pages
              </a>
              <ul class="dropdown-menu" >
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="text-decoration: none; color:white;"
              >
                Blog
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-0 mb-lg-0 text-light">
            <li class="nav-item me-3 d-flex align-items-center">
              <a href="#" class="nav-link text-light me-1">Deals of the day</a>
            </li>
            <li class="nav-item me-3 d-flex align-items-center">
              <a href="#" class="nav-link text-light me-1">Hot Deals</a>
            </li>
            <li class="nav-item me-3 d-flex align-items-center">
              <a href="#" class="nav-link text-light me-1">Best Sellers</a>
            </li>
            <li class="nav-item me-3 d-flex align-items-center">
              <a href="#" class="nav-link text-light me-1">New arrivals</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
    <!--end of navbar-->
