 <footer>
     <div class="container px-5 py-5">
      <div>
        <section class="text-center">
            <h5 class="title">Subscribe and get 20% discount.</h5>
            <div >
                <form action="" method="" class="row px-5 d-flex">
                     <input type="text" class="form-control py-2 px-3 w-50" id="exampleFormControlInput1" placeholder="Ali ali">
                      <button type="submit" class="btn btn-yellow py-2 mb-3 mt-3 col-3">Login</button>
                </form>
            </div>
        </section>
      </div>
  </div>
 </footer>
  