 <footer>
  <p class="border-bottom " ></p>
     <div class="container px-5 pt-5 pb-4">
      <div>
        <section class="text-center ">
            <h5 class="title">Subscribe and get 20% discount.</h5>
              <div class="d-flex justify-content-center align-items-center">
                    <form action="" method="" class="form-container d-flex align-items-baseline align-content-center justify-content-center">
                     <input type="email" class="form-control px-3 py-3 mt-2 me-2" id="exampleFormControlInput1" placeholder="Your email address">
                      <button type="submit" class="btn btn-yellow py-3 px-4 mb-3">Subscribe</button>
                </form>
              </div>
        </section>
      </div>
        <!--footer-->
    <footer>
        <div class="footer"> <div>
          <h5>Contact Us</h5>
          <a href="#"><i class="fa-solid fa-phone me-1"></i> <span> +02 325 326</span></a>
          <a href="#"><i class="fa-solid fa-envelope me-1"></i> <span> suppory@gmail.com</span></a>
      </div>
      <div>
          <h5>About</h5>
          <a routerLink="track-order">Track Your Order</a>
          <a href="#">Whislist</a>
          <a href="#">Privacy Policy</a>
      </div>
      <div>
          <h5>Customer Support</h5>
          <a href="#">Contact Us</a>
          <a href="#">Help Center</a>
          <a href="#">Returns & Exchanges</a>
      </div>
      <div>
          <h5>Services</h5>
          <a href="#">New arrivals</a>
          <a href="#">Hot deals</a>
          <a href="#">FAQ</a>
      </div>
      <div>
          <h5>Follow Us</h5>
          <div class="frame">
          <a href="#"><i class="fa-brands fa-facebook-f me-2"></i></a>
          <a href="#"><i class="fa-brands fa-twitter me-2"></i></a>
          <a href="#"><i class="fa-brands fa-instagram me-2"></i></a>
          </div>
      </div>
     </div>  
        <div class="copy text-start pt-3">&copy;2022 ITI. All Rights Reserved.</div>
    </footer>

  </div>
 </footer>
  