<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
        <h3 class="mb-4">Change your Password</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                      <label> Old paswword</label>
                      <input type="text" class="form-control" value="Kiran">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                      <label> New password</label>
                      <input type="text" class="form-control" value="Kiran">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                      <label> Confirm New password</label>
                      <input type="text" class="form-control" value="Kiran">
                </div>
            </div>
          
           
        </div>
        <div>
            <button class="btn btn-primary">Update</button>
            <button class="btn btn-light">Cancel</button>
        </div>
    </div>
    
