 <nav class="navbar mynav navie navbar-expand-lg bg-light">
      <div class="container px-5 py-0">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item me-3">
              <a class="nav-item pe-3" style="text-decoration: none; color:white;" href="#"
                ><i class="fa-solid fa-bars-staggered"></i>Browsr Categories</a
              ><span style="color: white;" class="d-sm-none"> | </span>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="text-decoration: none; color:white;"
              >
                Home
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle myactive"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="text-decoration: none; color:white;"
              >
                Shop
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown" >
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="text-decoration: none; color:white;"
              >
                Pages
              </a>
              <ul class="dropdown-menu" >
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="text-decoration: none; color:white;"
              >
                Blog
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto mb-0 mb-lg-0 text-light">
            <li class="nav-item me-3 d-flex align-items-center">
              <a href="#" class="nav-link text-light me-1">Deals of the day</a>
            </li>
            <li class="nav-item me-3 d-flex align-items-center">
              <a href="#" class="nav-link text-light me-1">Hot Deals</a>
            </li>
            <li class="nav-item me-3 d-flex align-items-center">
              <a href="#" class="nav-link text-light me-1">Best Sellers</a>
            </li>
            <li class="nav-item me-3 d-flex align-items-center">
              <a href="#" class="nav-link text-light me-1">New arrivals</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>