<div class="section ps-5 pe-5">
    <div class="mt-0 mb-0 ms-auto me-auto custom-width">
        <div class="card card-format d-flex flex-row row">
            <div class="card-body col-6 m-auto">
                <h2 class="title">update category</h2>
                <form method="post" action="" enctype="multipart/form-data" (ngSubmit)="updatecategory()">
                    <div class="input-group d-flex flex-column">
                        <input class="form-control w-100 mb-1" type="text"  placeholder="Product Name" name="dname" [(ngModel)]="category.name" >
                       
                            <span></span> 
                    </div>
             
                    <div class="input-group d-flex flex-column">
                        <input class="form-control mb-1 mt-3 w-100" type="text" placeholder="description" [(ngModel)]="category.description" name="description">
                          
                   <span></span> 
                    </div>
                 
          
                 
                 
                 
               
                    <div class="mt-2 d-inline-block me-3">
         <input class="btn btn-info ps-4 pe-4 pt-1 pb-1 " type="submit" name="addcategory" value="update category">
                    </div>
                   
                 
                </form>
            </div>
        </div>
    </div>
</div>
