
<div class="container">
    
  <nav aria-label="breadcrumb" class="my-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Computing</a></li>
      <li class="breadcrumb-item active" aria-current="page">Computers & It Accessories</li>
    </ol>
  </nav>
<h4 class="mb-2">Laptop Accessories</h4>
<p class=" mb-3 text-muted" >Computers & Accessories Computers & Accessories</p>

<p class="border-bottom" ></p>
<div class="my-3">
    <span class="badge rounded-pill bg-danger m-1">filter</span>
<span class="badge rounded-pill bg-danger m-1">price</span>
<span class="badge rounded-pill bg-danger m-1">brand</span>
<span class="badge rounded-pill bg-danger m-1">color</span>
</div>
<div class="row">
 
    <div class="col-md-3">
        
        <div class="card" style="width: 18rem;">
            <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
            <div class="card-body">
              <p class="card-title text-muted">Lenovo</p>
              <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <span class="px-3">40 reviews</span>
              </div>
              <h5 class="card-title my-2">EGP 4,999.00</h5>
            </div>
          </div>

    </div>
    <div class="col-md-3">
        
        <div class="card" style="width: 18rem;">
            <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
            <div class="card-body">
              <p class="card-title text-muted">Lenovo</p>
              <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <span class="px-3">40 reviews</span>
              </div>
              <h5 class="card-title my-2">EGP 4,999.00</h5>
            </div>
          </div>

    </div>
    <div class="col-md-3">
        
        <div class="card" style="width: 18rem;">
            <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
            <div class="card-body">
              <p class="card-title text-muted">Lenovo</p>
              <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <span class="px-3">40 reviews</span>
              </div>
              <h5 class="card-title my-2">EGP 4,999.00</h5>
            </div>
          </div>

    </div>
    <div class="col-md-3">
        
        <div class="card" style="width: 18rem;">
            <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
            <div class="card-body">
              <p class="card-title text-muted">Lenovo</p>
              <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <span class="px-3">40 reviews</span>
              </div>
              <h5 class="card-title my-2">EGP 4,999.00</h5>
            </div>
          </div>

    </div>
    <div class="col-md-3">
        
        <div class="card" style="width: 18rem;">
            <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
            <div class="card-body">
              <p class="card-title text-muted">Lenovo</p>
              <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <span class="px-3">40 reviews</span>
              </div>
              <h5 class="card-title my-2">EGP 4,999.00</h5>
            </div>
          </div>

    </div>
    <div class="col-md-3">
        
        <div class="card" style="width: 18rem;">
            <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
            <div class="card-body">
              <p class="card-title text-muted">Lenovo</p>
              <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <span class="px-3">40 reviews</span>
              </div>
              <h5 class="card-title my-2">EGP 4,999.00</h5>
            </div>
          </div>

    </div>
    <div class="col-md-3">
        
        <div class="card" style="width: 18rem;">
            <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
            <div class="card-body">
              <p class="card-title text-muted">Lenovo</p>
              <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <span class="px-3">40 reviews</span>
              </div>
              <h5 class="card-title my-2">EGP 4,999.00</h5>
            </div>
          </div>

    </div>
    <div class="col-md-3">
        
        <div class="card" style="width: 18rem;">
            <img src="../assets/img/1 (1).jpg"  class="card-img-top w-75 m-auto" alt="...">
            <div class="card-body">
              <p class="card-title text-muted">Lenovo</p>
              <h5 class="card-title">Lenovo V15-IGL Laptop - Intel Celeron N4020</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <i class="fa-solid fa-star " style="color: rgba(255, 255, 0, 0.644);"></i>
              <span class="px-3">40 reviews</span>
              </div>
              <h5 class="card-title my-2">EGP 4,999.00</h5>
            </div>
          </div>

    </div>
   
</div>

  <div class="m-auto my-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link rounded-5 text-black" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item "><a class="page-link rounded-5  text-black" style="background-color: yellow;" href="#">1</a></li>
          <li class="page-item"><a class="page-link rounded-5 text-black" href="#">2</a></li>
          <li class="page-item"><a class="page-link rounded-5 text-black" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link rounded-5 text-black" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
  </div>
</div>
