
<div class="container">
<app-category-navbar></app-category-navbar>     
  <nav aria-label="breadcrumb" class="my-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Computing</a></li>
      <li class="breadcrumb-item active" aria-current="page">Computers & It Accessories</li>
    </ol>
  </nav>
<h4 class="mb-2">Laptop Accessories</h4>
<p class=" mb-3 text-muted" >Computers & Accessories Computers & Accessories</p>

<p class="border-bottom" ></p>

</div>
