<div class="container-fluid">
  <div class="container px-5 d-flex justify-content-center align-items-center">
    <div class="card p-3" style="width: 26rem">
      <div class="card-body">
        <h5 class="card-title mb-4">Create your account</h5>
        <form class="form card-text" action="" method="">
          
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label mb-1"
                >Your Name</label
              >
              <input
                type="text"
                class="form-control py-2 px-3"
                id="exampleFormControlInput1"
                placeholder="Ali ali"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label mb-1"
                >Your Email</label
              >
              <input
                type="email"
                class="form-control py-2 px-3"
                id="exampleFormControlInput1"
                placeholder="Ali@gmail.com"
              />
            </div>
         
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mb-1"
              >Password</label
            >
            <input
              type="password"
              class="form-control py-2 px-3"
              id="exampleFormControlInput1"
              placeholder="*************************"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mb-1"
              >Your Address</label
            >
            <input
              type="text"
              class="form-control py-2 px-3"
              id="exampleFormControlInput1"
              placeholder="cairo,Egypt"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mb-1"
              >Phone number</label
            >
            <input
              type="text"
              class="form-control py-2 px-3"
              id="exampleFormControlInput1"
              placeholder="010-000-000-00"
            />
          </div>
          <div class="mb-3">
            <label class="form-label mb-1">Choose a role:</label>
            <select name="role" id="role"  class="form-select py-2 px-3">
              <option value="buyer">Buyer</option>
              <option value="saab">seller</option>
            </select>
          </div>
          <div class="w-100">
            <button type="submit" class="btn btn-yellow py-2 mb-3">
              Create Account
            </button>
          </div>
        </form>
        <p class="card-text text-center q mb-4">
          Already have an account? <a class="card-link" href="#">Sign in</a>
        </p>
        <section class="d-flex align-items-baseline">
          <hr class="w-50" />
          <div class="text-center mb-4 fs-6 px-2">or</div>
          <hr class="w-50" />
        </section>

        <nav class="d-flex justify-content-between">
          <a href="#" class="py-1 px-4 border rounded facebook"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a href="#" class="py-1 px-4 border rounded google"
            ><i class="fa-brands fa-google-plus-g"></i
          ></a>
          <a href="#" class="py-1 px-4 border rounded twitter"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a href="#" class="py-1 px-4 border rounded instagram"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </nav>
      </div>
    </div>
  </div>
</div>
